---
const { temario } = Astro.props;
---

<div id="accordion-color" data-accordion="collapse" data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
  {temario.map((item, index) => (
    <>
      <h2 id={`accordion-color-heading-${index}`}>
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target={`#accordion-color-body-${index}`} aria-expanded={index === 0 ? "true" : "false"} aria-controls={`accordion-color-body-${index}`}>
          <span>{item.title}</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </h2>
      <div id={`accordion-color-body-${index}`} class={index === 0 ? "" : "hidden"} aria-labelledby={`accordion-color-heading-${index}`}>
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
          <ul class="ps-5 list-disc">
            {item.content.map((subItem) => (
              <li class="list-none">
                <a href={subItem.link} class="text-blue-600 dark:text-blue-500 hover:underline">{subItem.name}</a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </>
  ))}
</div>
